body {
    font-family: 'Proxima Nova Rg';
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

ul, h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.center {
    width: 1140px;
    
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

@font-face {
	font-family: 'Proxima Nova Rg';
	src: url('../fonts/ProximaNova-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Rg';
	src: url('../fonts/ProximaNova-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

// sprites social

.icon-bl-fb {
  background-image: url(../img/sprites/social.png);
  background-position: 0px 0px;
  width: 41px;
  height: 42px;
}
.icon-bl-in {
  background-image: url(../img/sprites/social.png);
  background-position: 0px -62px;
  width: 41px;
  height: 42px;
}
.icon-bl-ok {
  background-image: url(../img/sprites/social.png);
  background-position: 0px -124px;
  width: 41px;
  height: 42px;
}
.icon-bl-tw {
  background-image: url(../img/sprites/social.png);
  background-position: 0px -186px;
  width: 41px;
  height: 42px;
}
.icon-bl-vk {
  background-image: url(../img/sprites/social.png);
  background-position: 0px -248px;
  width: 41px;
  height: 42px;
}
.icon-c-fb {
  background-image: url(../img/sprites/social.png);
  background-position: 0px -310px;
  width: 41px;
  height: 42px;
}
.icon-c-in {
  background-image: url(../img/sprites/social.png);
  background-position: 0px -372px;
  width: 41px;
  height: 42px;
}
.icon-c-ok {
  background-image: url(../img/sprites/social.png);
  background-position: 0px -434px;
  width: 41px;
  height: 42px;
}
.icon-c-tw {
  background-image: url(../img/sprites/social.png);
  background-position: 0px -496px;
  width: 41px;
  height: 42px;
}
.icon-c-vk {
  background-image: url(../img/sprites/social.png);
  background-position: 0px -558px;
  width: 41px;
  height: 42px;
}