.video {
    position: relative;
    height: 733px;
    border-top: 1px solid transparent;
    overflow: hidden;
    background-image: url('../img/video-3.jpg');
    background-size: cover;
    &__present {
        @include pr-rg(40px,50px);
        position: relative;
        display: block;
        padding-top: 100px;
        text-transform: uppercase;
        color: #fff;
        &::before {
            position: absolute;
            content: '';
            width: 85px;
            height: 85px;
            top: 210px;
            left: 140px;
            background: url('../img/yt-ic.png') 0 0 no-repeat;
        }
    }
}